@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.content {
  position: relative;
  display: flex;
}

.content h2 {
  color: black;
  font-size: 6em;
  position: absolute;
}

@media (max-width: 768px) {
  .content h2 {
    font-size: 3em;
  }
}

@media (max-width: 390px) {
  .content h2 {
    font-size: 2em;
  }
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.content h2:nth-child(2) {
  color: black;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.solid-base {
  color: black;
  font-weight: 700;
  border-bottom:8px solid gold;
}


.classy-chops {
  background-position: center center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px black;
  border-color: #333333;
  font-weight: normal;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.classy-container {
  background: linear-gradient(-45deg, #c3bf56, #c1d063, #9c9150, #020706);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --color-primary-anim: #d3c63b;
  --color-secondary-anim: #cfba45;
  --color-tertiary-anim: #858531;
  --color-quaternary-anim: #eeb720;
  --color-quinary-anim: #54531b;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary-anim),
    6px 6px 0 var(--color-tertiary-anim), 9px 9px var(--color-quaternary-anim),
    12px 12px 0 var(--color-quinary-anim);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
}


.animate-character{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}